*{
    margin: 0;
    padding:0;
}
header{
    text-align: center;
    background-image: url('picture/background.jpg');
    background-size:100%;
    padding: 100px;
    font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: blanchedalmond;
    text-shadow: black 1px 1px;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.child{
    padding: 20px;
    border: 1px solid red;
    margin-bottom: 20px;
    background-color: beige;
}
nav{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
    background-color: rgb(139, 139, 251);

    
}
nav a{
    text-decoration: none;
    color: antiquewhite;
    padding: 14px 20px;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    font-weight: 700;
    text-shadow: blue 1px 1px;
    margin: 20px;
    border: solid black

}
li{
    margin: 15px;
    font-size: large;

}
li :hover{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: rgb(139, 139, 251);
    color: antiquewhite;
}
footer div {
    text-align: center;
    text-shadow: black 1px 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
@media screen and (max-width: 600px)    {
    footer {
        display: flex;
        flex-direction: column;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
}